/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .full-page {
    width: 100%;
    min-height: 100vh;
    padding: 4rem 2rem;
    box-sizing: border-box;
  }
  
  /* Section Styles */
  #home {
    background-color: #f4f4f4;
  }
  
  #about {
    background-color: #5a5a5a;
    color: #fff;
  }
  
  #projects {
    background-color: #f4f4f4;
  }
  
  #contact {
    background-color: #5a5a5a;
    color: #fff;
  }
  
  /* Footer */
  footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
  }
  
  /* Custom Styles */
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  